*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.moyo-home{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
}

.moyo-navigation{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navigation-list{
    list-style: none;
    padding: 0;
    position: absolute;
    top: 0;
}

.list-item-wrap{
    /* color: var(--moyo-green-400); */
    padding: 20px;
    font-weight: 700;
}

.list-item-link{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.moyo-feed{
    width: 50%;
}

.moyo-extras{
    width: 30%;
}

.moyo-postcard{
    width: 100vw;
}

.moyo-postcard{
    border-radius: 0;
}

.menu-item-text{
    line-height: 1.3125;
    font-size: 19px;
}


.modal-wrap{
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 12px;
    margin: auto;
}

@media screen and (min-width: 450px){
    .moyo-postcard{
        width: 450px;
        margin: auto;
    }
}