.moyo-home{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.moyo-navigation{
    width: 72px;
    border-right: 1px solid #ebeced;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 12px 0px 16px;
    position: sticky;
    top: 0;
    overflow: hidden auto;
}

.moyo-navigation > ul {
    text-align: center;
    padding: 0;
}

.moyo-navigation{
    cursor: pointer;
}

.moyo-navigation-link:hover{
    background-color: var(--neutral-200);
}

.moyo-feed-container{
    width: 50%;
}

.moyo-aside{
    width: calc(72px - (50/100 * 100vw));
}

@media screen and (min-width: 450px){
    .moyo-postcard{
        width: 450px;
        margin: auto;
    }
}