.moyo-postcard{
    border-radius: 12px;
    background-color: white;
    border: 1px solid var(--neutral-300);
    width: 450px;
    
}

.moyo-postcard--header{
    border-bottom: 1px solid var(--neutral-300);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.moyo-postcard--text{
    color: var(--neutral-400)
}

.moyo-postcard-date{
    text-align: right;   
}

.code-tab{
    background: #282a36;
    color: white;
    padding: 4px 16px;
    cursor: pointer;
    outline: none;
    border: none;
}

.code-view{
    overflow: hidden;
}

.profile-picture{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.action-button{
    border: none;
    border-radius: 20px;
    padding: 6px 12px;
    margin-right: 10px;
    color: var(--neutral-500);
    background: none;
}

.action-button:hover{
    background: var(--neutral-200);
}

.code-container{
    transition: display 2s;
}