.moyo-postcard{
    border-radius: 12px;
    background-color: white;
    border: 1px solid var(--neutral-300);
    width: 450px;
    
}

.moyo-postcard--header{
    border-bottom: 1px solid var(--neutral-300);
}

.moyo-postcard--text{
    color: var(--neutral-400)
}

.moyo-postcard-date{
    text-align: right;   
}

.code-tab{
    background: #282a36;
    color: white;
    padding: 4px 16px;
    cursor: pointer;
    outline: none;
    border: none;
}

.code-view{
    overflow: hidden;
}

.profile-picure{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}