.header{
    height: 54px;
    background-color: white;
    border-bottom: 1px solid #E1E1E1;
}

.header-wrapper{
    max-width: 1200px;
    margin: auto;
    height: 54px;
}

.logo-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}