@keyframes allround{
    100% {
        transform: rotate(1turn);
    }
}

.spinner-border{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid var(--moyo-green-500);
    border-right-color: #0000;
    border-radius: 50%;
    animation: allround .75s linear infinite;
}