* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.banner {
  text-align: center;
  /* background: blue; */
}

.main {
  display: flex;
}

.about {
  width: 50%;
  /* margin-bottom: 3rem; */
}
.moyo-text {
  margin-bottom: 3rem;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #2CEAA3;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.points {
  padding-bottom: 20px;
}

.right-side {
  width: 40%;
  margin-top: 2rem;
  text-align: center;
}

.social-media {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

label {
  display: block;
}

.terms {
  display: flex;
  margin-left: 8rem;
  margin-top: 1rem;
}

/* .terms input {
  margin-right: 10px;
} */

.button {
  width: 40%;
  padding: 10px;
  background: #2CEAA3;
}

.form-input {
  padding-right: 108px;
  padding-bottom: 8px;
}