* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  overflow-x: hidden;
  background: #f1f3f2;

}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  overflow-x: hidden;
}

.banner {
  text-align: center;
}

.main {
  display: block;
}

@media (min-width: 768px) {
  .main {
    display: flex;
  }
  .about {
    width: 50%;
  }

  .right-side {
    margin-top: 2rem;
    text-align: center;
    margin-left: 30px;
  }
  
}

.logo {
  width: 300px;
}

.moyo-text {
  margin-bottom: 3rem;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #2CEAA3;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.points {
  padding-bottom: 20px;
}

.right-side {
  margin-top: 2rem;
  text-align: center;
}

.social-media {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

label {
  display: block;
}

.terms {
  display: flex;
  margin-top: 1rem;
}

.button {
  width: 40%;
  padding: 10px;
  background: #2CEAA3;
}

.form-input {
  padding-right: 108px;
  padding-bottom: 8px;
}